PROJECT_NAME=pta
SERVER_PORT=3001

DATABASE_TYPE=postgres
DATABASE_HOST=pta-db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=docker
DATABASE_DB=pta

DATABASE_URL=postgresql://postgres:docker@pta-db:5432/pta
